/* root for project */
:root {
    --p-color: rgba(92, 92, 92, 1);
    --white-color: rgba(186, 186, 186, 1);
    --bg-box-color: rgba(37, 37, 37, 1);
    --bg-color-body: rgba(20, 20, 20, 1);
    --gray-400: rgba(71, 71, 71, 1);
    --red-color: rgba(185, 59, 59, 1);
    --mainbg-itm-sec: rgba(48, 48, 48, 1);
    --maintimer-liveaghrabe: rgba(219, 219, 219, 1);
    --maintimer-livelivemonth-circle: rgba(196, 41, 251, 1);
    --maintimer-liveliveday-circle: rgba(41, 87, 251, 1);
    --maintimer-livelivehour-circle: rgba(251, 41, 109, 1);
    --maintimer-liveliveminutes-circle: rgba(250, 230, 14, 1);
    --maintimer-livelivesecond-circle: rgba(4, 250, 74, 1);
    --maintimer-liveendmonth-end-timer: rgba(52, 52, 52, 1);
    --maintimer-liveendday-end-timer: rgba(86, 86, 86, 1);
    --maintimer-liveendhour-end-timer: rgba(112, 112, 112, 1);
    --maintimer-liveendminutes-end-timer: rgba(144, 144, 144, 1);
    --maintimer-liveendsecond-end-timer: rgba(160, 160, 160, 1);
    --mainedit-timersatbg-sat-color: rgba(233, 233, 233, 1);
    --mainedit-timersatstork-sat: rgba(65, 65, 65, 1);
    --mainedit-timertaghvimtitle-text-color: rgba(222, 222, 222, 1);
    --mobile-header-name-alram-font-family: "Poppins-Light", Helvetica;
    --mobile-header-name-alram-font-weight: 300;
    --mobile-header-name-alram-font-size: 14px;
    --mobile-header-name-alram-letter-spacing: 0.14px;
    --mobile-header-name-alram-line-height: normal;
    --mobile-header-name-alram-font-style: normal;
    --mobile-main-title-sec-font-family: "Poppins-SemiBold", Helvetica;
    --mobile-main-title-sec-font-weight: 600;
    --mobile-main-title-sec-font-size: 16px;
    --mobile-main-title-sec-letter-spacing: 0.32px;
    --mobile-main-title-sec-line-height: normal;
    --mobile-main-title-sec-font-style: normal;
    --mobile-main-banner-number-timer-live-font-family: "Poppins-Medium",
      Helvetica;
    --mobile-main-banner-number-timer-live-font-weight: 500;
    --mobile-main-banner-number-timer-live-font-size: 24px;
    --mobile-main-banner-number-timer-live-letter-spacing: -0.12px;
    --mobile-main-banner-number-timer-live-line-height: normal;
    --mobile-main-banner-number-timer-live-font-style: normal;
    --mobile-main-banner-name-number-timer-font-family: "Poppins-Medium",
      Helvetica;
    --mobile-main-banner-name-number-timer-font-weight: 500;
    --mobile-main-banner-name-number-timer-font-size: 14px;
    --mobile-main-banner-name-number-timer-letter-spacing: 0px;
    --mobile-main-banner-name-number-timer-line-height: normal;
    --mobile-main-banner-name-number-timer-font-style: normal;
    --mobile-main-edit-timer-time-nazdik-set-sode-font-family: "Poppins-Light",
      Helvetica;
    --mobile-main-edit-timer-time-nazdik-set-sode-font-weight: 300;
    --mobile-main-edit-timer-time-nazdik-set-sode-font-size: 11px;
    --mobile-main-edit-timer-time-nazdik-set-sode-letter-spacing: -0.77px;
    --mobile-main-edit-timer-time-nazdik-set-sode-line-height: normal;
    --mobile-main-edit-timer-time-nazdik-set-sode-font-style: normal;
    --mobile-main-edit-timer-time-AM-OR-PM-font-family: "Poppins-Medium",
      Helvetica;
    --mobile-main-edit-timer-time-AM-OR-PM-font-weight: 500;
    --mobile-main-edit-timer-time-AM-OR-PM-font-size: 11px;
    --mobile-main-edit-timer-time-AM-OR-PM-letter-spacing: -0.77px;
    --mobile-main-edit-timer-time-AM-OR-PM-line-height: normal;
    --mobile-main-edit-timer-time-AM-OR-PM-font-style: normal;
    --mobile-main-edit-timer-time-set-sode-font-family: "Poppins-Regular",
      Helvetica;
    --mobile-main-edit-timer-time-set-sode-font-weight: 400;
    --mobile-main-edit-timer-time-set-sode-font-size: 11px;
    --mobile-main-edit-timer-time-set-sode-letter-spacing: -0.77px;
    --mobile-main-edit-timer-time-set-sode-line-height: normal;
    --mobile-main-edit-timer-time-set-sode-font-style: normal;
    --header-name-alram: 0px 2px 2px 0px rgba(150, 150, 150, 0.38);
    --main-title-sec-sdow: 2px 3px 3px 0px rgba(10, 10, 10, 0.25);
    --main-box-sdow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    --main-timer-live-aghrabe: 0px 0px 3px 1px rgba(170, 170, 170, 0.28);
    --main-timer-live-live-month-circle: 0px 0px 8px 0px rgba(196, 41, 251, 0.25);
    --main-timer-live-live-day-circle: 0px 0px 8px 0px rgba(41, 87, 251, 0.25);
    --main-timer-live-live-hour-circle: 0px 0px 8px 0px rgba(251, 41, 109, 0.25);
    --main-timer-live-live-minutes-circle: 0px 0px 8px 0px
      rgba(250, 230, 14, 0.25);
    --main-timer-live-live-second-circle: 0px 0px 8px 0px rgba(4, 250, 74, 0.25);
    --main-edit-time-taghvim-and-sat-sdow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 50px;
  }
  
  body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 30px; */
    /* background-color: #181818; */
  }
  /* styles for calender-container */
  .calender-container {
    position: relative;
    width: 90%;
    width: 95%;
    margin: 0 auto;
    padding: 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #252525;
    margin-top: 3%;
    padding-top: 15px;
    border-radius: 10px;
  }
  /* styles for left */
  .left {
    width: 100%;
    padding: 20px;
    background: #fff;
  }
  /* style for calender */
  .calendar {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 10px;
    background: var(--main-bg-itm-sec, #303030);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }
  /* set after behind the main element */
  
  .calendar .month {
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-weight: 500;
    text-transform: capitalize;
  }
  /* styles for prev and next icons */
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
    font-size: 12px;
  }
  /* style for prev and next icon when they hover */
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: #e2e1dc;
  }
  /* styles for month */
  .calendar .month .date{
    font-size: 10px;
  }
  /* styles for weekdays */
  .calendar .weekdays {
    width: 100%;
    height: 30px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 12px;
    font-size: 2vw; /* 2.5% of the viewport width */
    font-weight: 500;
    text-transform: capitalize;
  }
  /* styles for day of calender */
  .calendar .weekdays, .calendar .days .day {
    width: 14%; /* Each element takes up 14.28% of the calendar's width (7 elements in a row) */
  }
  
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calendar .days .day {
    width: 12.5%; /* Each element takes up 12.5% of the calendar's width (8 elements in a row) */
    height: 40px; /* Adjust the height as needed */
    font-size: 2.2vw; /* 2.2% of the viewport width */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 1px solid #303030;
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #303030;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #303030;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #303030;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #303030;
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: #6e6e6e;
  }
  .calendar .days .prev,
  .calendar .days .next {
    color: #b3b3b3;
  }
  .calendar .days .active {
    position: relative;
    font-size: 1rem;
    color: #fff;
    background-color: #303030;
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px #5f5f5f;
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: #303030;
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 0px;
    margin-bottom: 8px;
    color: #6b6b6b;
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 23px;
    overflow: hidden;
    border: 1px solid #6b6b6b;
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
  }
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid #afafaf;
    border-radius: 23px;
    background-color: transparent;
    cursor: pointer;
    color: #afafaf;
  }
  .calendar .goto-today button:hover {
    color: #ffffff;
    background-color: #8a8888;
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid #6b6b6b;
    border-radius: 0;
  }
  
  /* media queries */
  
  @media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .calender-container {
      /* min-height: 100vh; */
      flex-direction: column;
      /* border-radius: 0; */
    }
    .calender-container .left {
      width: 60%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar .weekdays{
      width: 98%;
      padding-right: 14px;
    }
  
  }
  
  @media screen and (max-width: 500px) {
      /* Modify styles for smaller screens */
      .calendar .month {
        height: 30px;
      }
    
      .calendar .weekdays {
        height: 20px;
        font-size: 0.8rem;
      }
    
      .calendar .days .day {
        height: 30px;
        font-size: 0.8rem;
      }
    
      .calendar .days .day.active,
      .calendar .days .day.today {
        font-size: 1rem;
      }
    }
    
  /* Add this CSS to hide the "next-date" elements */
  .calendar .days .next-date {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .calendar .month {
      /* height: 8vh; */
      font-size: 1.8vw;
    }
  
    .calendar .weekdays {
      height: 4vh;
      font-size: 1.2vw;
    }
  
    .calendar .days .day {
      width: 16.666%; /* On smaller screens, display 6 days in a row (1/6) */
      font-size: 2vw; /* Adjust font size accordingly */
    }
  }