body {
  background:#141414;
  margin: 0;
}
.blur-cover{
  width: 100%;
  height: 100%;
  background-color: #454545cc;
  filter: blur(5px);
  position: absolute;
  display: none;
  z-index: 1;
}
#setUp-page-container {
  width: 99%;
  background-color: #141414;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 50px;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.back-icon {
  height: 35px;
}

.trash-icon {
  height: 40px;
}

.trash-icon,
.back-icon {
  cursor: pointer;
}

/* -=-=-==-=-=-=-=-=-=-=-=-=- */

#RimTime-clock {
  width: 75%;
  height: 300px;
  margin: 0 auto;
  margin-top: 10%;
}

#RimTime-numbers,
#RimTime-leters {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  /* background-color: antiquewhite; */
  font-size: 30px;
  text-align: center;
  color: #fff;
}

#RimTime-leters {
  font-size: 25px;
}

#RimTime-numbers :nth-child(1),
#RimTime-leters :nth-child(1) {
  color: #2957FB;
}

#RimTime-numbers :nth-child(3),
#RimTime-leters :nth-child(3) {
  color: #FB296D;
}

#RimTime-numbers :nth-child(5),
#RimTime-leters :nth-child(5) {
  color: #FAE60E;
}

#RimTime-numbers :nth-child(6),
#RimTime-numbers :nth-child(7),
#RimTime-leters :nth-child(6),
#RimTime-leters :nth-child(7) {
  color: #1DFF5D;
}

/* ----------------------- */

#Description-container{
  width: 95%; 
  margin: 0 auto;
  margin-top: 20px;
  background-color: #252525;
  border-radius: 10px;
}
#Description-container span {
  color: #BABABA;
  margin: 10px;
}
#textarea-contaner{
  width: 100%;
  color: #fff;
  text-align: center;
  /* margin-top: 10px; */
}

#textarea-contaner textarea {
  resize: none;
  width: 97%;
  height: 70px;
  background-color: #252525;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #505050;
}

#edit-time-box{
  width: 95%;
  height: 35%;
  background-color: #252525;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rington-box{
  width: 95%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #252525;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

#rington-box :nth-child(2){
  opacity: .5;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.rington-list{
  width: 95%;
  height:60%;
  top: 30%;
  position: absolute;
  left: 2.5%;
  background-color: #2957FB;
  margin: 0 auto;
  display: none;
  z-index: 1;
  /* position: relative; */
}

.close-list-btn{
  width: 40px;
  margin-left: 88%;
  cursor: pointer;
  position: absolute;
}

.save-btn{
  width: 60%;
  color: #1DFF5D;
  height: 40px;
 margin: 0 auto;
 margin-top: 3%;
 margin-bottom: 3%;
 text-align: center;
 border-radius: 10px;
 background-color:#252525;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}

/* Alarm Style */

/* Styling for the clock */
.clock {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  box-shadow: inset 5px 5px 25px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
/* Styling for the time container within the clock */
#time {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}